*{
  font-family: 'Montserrat', sans-serif;
}

.delete{
  background-color: #ce5050;
  margin:2px;
  padding:4px;
  border-radius: 4px;
 
}
.delete:hover{
  color: #ce5050;
  background-color: #282c34;
 
  transform: translateX(2px);
  cursor: pointer;
}
.cross{
  background-color: #ce5050;
 
  color: white;
  margin: 2px;
  border-radius: 4px;

}
.cross:hover{
  color: #ce5050;
  background-color: #282c34;
  transform: translateX(2px);
  cursor: pointer;
}
.clickedDel{
  text-decoration-line: overline;

}


.App {

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
